<div class="side_bar_header">
    <div class="name">
      <a href= "#"> Tom</a>
    </div>
    <div class="create_chat_bottom">
      <a href="#">チャットを作成する</a>
    </div>
</div>
<div class="room_list">
  <div class="room_list_wrapper">
    <div class="room_list_name">
      <a href="#">teachroom1</a>
     </div>
  </div>
  <div class="room_list_wrapper">
    <div class="room_list_name">
      <a href="#">teachroom2</a>
    </div>
  </div>
</div>
